[setup]
statement_files = ["hll.sql"]

    [[setup.data_files]]
    target = "hll"
    source = "data.json"
    bulk_size = 1000
    concurrency = 25


[[queries]]
statement = """
SELECT
    custom_user_id,
    hyperloglog_distinct(id, 16)
FROM
    hll
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 20
"""
concurrency = 5
iterations = 500


[teardown]
statements = ["drop table if exists hll"]
