[setup]
statements = [
  "create table t090 (x string) clustered into 1 shards",
  "create table t075 (x string) clustered into 1 shards",
  "create table t050 (x string) clustered into 1 shards",
  "create table t025 (x string) clustered into 1 shards"
]

  [[setup.data_files]]
  target = "t090"
  source = "data/t_090.json.gz"

  [[setup.data_files]]
  target = "t075"
  source = "data/t_075.json.gz"

  [[setup.data_files]]
  target = "t050"
  source = "data/t_050.json.gz"

  [[setup.data_files]]
  target = "t025"
  source = "data/t_025.json.gz"


[[queries]]
statement = "select count(*) from (select distinct x from t090) t"
iterations = 200

[[queries]]
statement = "select count(*) from (select distinct x from t075) t"
iterations = 200

[[queries]]
statement = "select count(*) from (select distinct x from t050) t"
iterations = 200

[[queries]]
statement = "select count(*) from (select distinct x from t025) t"
iterations = 200

[teardown]
statements = [
  "drop table if exists t090",
  "drop table if exists t075",
  "drop table if exists t050",
  "drop table if exists t025"
]
