[setup]
statement_files = ["sql/id_int_value_str.sql"]

[[load_data]]
target = "id_int_value_str"
source = "data/id_int_value_str.json"

bulk_size = 1000
concurrency = 1
num_records = 1000000

[teardown]
statements = ["drop table if exists id_int_value_str"]
