[setup]
statement_files = ["sql/articles.sql", "sql/colors.sql"]
statements = [
    "copy articles from 's3://crate-stresstest-data/join-sample-data/articles_*' with (compression = 'gzip')",
    "copy colors from 's3://crate-stresstest-data/join-sample-data/colors_*' with (compression = 'gzip')",
    "refresh table articles, colors",
    "optimize table colors with (max_num_segments = 1)",
    "optimize table articles with (max_num_segments = 1)",
]

[[queries]]
statement = "select * from articles inner join colors on articles.id = colors.id order by articles.id limit 1000"
iterations = 200

[[queries]]
# QAF
statement = "select articles.name as article from articles, colors order by article limit 10000"
iterations = 2560

[[queries]]
# QTF
statement = "select * from articles CROSS JOIN colors limit 1 offset 10000"
iterations = 200

[[queries]]
# colors.id = -1 -> no match -> join condition can't match
statement = "select * from articles inner join colors on articles.id = colors.id where colors.id = -1"
iterations = 150


[teardown]
statements = ["drop table articles", "drop table colors"]
