[setup]
statement_files = ["sql/uservisits.sql"]
statements = [
    "copy uservisits from 's3://crate.amplab/data/1node/uservisits/part-00001*' with (compression = 'gzip')",
    "copy uservisits from 's3://crate.amplab/data/1node/uservisits/part-00002*' with (compression = 'gzip')",
    "copy uservisits from 's3://crate.amplab/data/1node/uservisits/part-00003*' with (compression = 'gzip')",
    "copy uservisits from 's3://crate.amplab/data/1node/uservisits/part-00004*' with (compression = 'gzip')",
    "copy uservisits from 's3://crate.amplab/data/1node/uservisits/part-00005*' with (compression = 'gzip')",
    "refresh table uservisits"
]

[[queries]]
statement = '''select avg("adRevenue") over (partition by "cCode" order by "visitDate")
                from uservisits'''
iterations = 50
min_version = '4.0.0'

[[queries]]
statement = '''select nth_value("adRevenue", 3) over (order by "cCode")
                from uservisits'''
iterations = 50
min_version = '3.3.0'

[[queries]]
statement = '''select nth_value("adRevenue", 3) over (order by "cCode")
                from uservisits where _fetchid % 10 = 0'''
iterations = 200
concurrency = 15
min_version = '3.3.0'

[[queries]]
statement = '''select nth_value("adRevenue", 3) over (order by "cCode"),
                avg("duration") over(order by "sourceIP")
                from uservisits'''
iterations = 50
min_version = '3.3.0'

[teardown]
statements = ["drop table uservisits"]
